extends ../layout

block content
	.admin
		+form.pure-form.pure-form-stacked.pure-g(method="post", action=`/admin/blog/edit/${post.Id || ''}`)
			button.pure-button.submit.floating(data-min-top=24) Save
			.pure-u-1-1
				label Post title
				input.pure-u-1-1(type="text", name="title", value=(post.Title || ""))
			.pure-u-1-2
				label Post body
				textarea.md-editor.pure-u-1-1(name="body"):= post.Body || ""
			.pure-u-1-2
				label Preview
				.md-preview

