extends layout

block pageTitle
	| Thank you for donating!

block content
	h2 Thank you for your support!

	p Your donation will help keep PDFy and many <a href="http://cryto.net/~joepie91/projectlist/">other non-commercial projects</a> alive!

	p If you have any further questions, you can always <a href="mailto:donations@cryto.net">send us an e-mail</a>.
