extends layout

block pageTitle
	| Frequently Asked Questions

block content
	h2 FAQ

	section
		h3 Is PDFy a free service? What is your business model?
		p Yes, it is free, and it will always stay free! PDFy is non-commercial and runs entirely off donations - there's no intention to make a profit, and everything is done on a shoestring budget.
		p If you'd like to contribute to keeping the lights on, please do make a donation by <a href="/donate">clicking here</a>!

	section
		h3 Do you show advertisements?
		p No, and we never will. We consider advertisements to be unethical, in that they are explicitly designed to manipulate people for personal gains - that's not something we wish to support.
		p Jason Scott has <a href="http://www.textfiles.com/thoughts/advertising.html">written a bit more on the subject here</a>. He's not affiliated with PDFy, but shares the same point of view on advertising.

	section
		h3 Is there a limit to how many documents I can upload?
		p No. Uploads are unlimited.

	section
		h3 Is there a limit to how many people can view my document?
		p No, there are no restrictions on traffic. Your document will always remain available, no matter how many views it gets, and no matter how much traffic it causes.

	section
		h3 What kind of documents can I upload?
		p Anything that is allowed by the <a href="/tos">Terms of Service</a>.

	section
		h3 Do you keep track of who uploads a document?
		p Not really. We only keep standard <a href="https://en.wikipedia.org/wiki/Server_log">access logs</a>, but do not explicitly keep track of who uploads what document. The full privacy policy can be found <a href="/tos">here</a>.

	section
		h3 Something is broken! Can you fix it?
		p Sure. Either <a href="mailto:pdfy@cryto.net">e-mail us</a> (private) or <a href="http://github.com/joepie91/pdfy2/issues">file an issue ticket</a> (public).

	section
		h3 I accidentally uploaded the wrong document! Can you remove it?
		p Instructions for that can be found <a href="/abuse">here</a>.

	section
		h3 Why don't you give an automatic deletion link to the uploader, like Imgur does?
		p This would give the false impression that a document is really deleted. All public documents are automatically mirrored to the Internet Archive, and all documents (both public and unlisted) could have been downloaded by any reader, so there's no guarantee that it will really be gone. By not providing a deletion link, we hope to encourage people to think carefully before uploading something to the internet publicly, and to prevent 'oversharing'.
		p If you <em>really</em> need a document removed, you can find instructions <a href="/abuse">here</a>.

	section
		h3 Is PDFy open-source?
		p Yes! All the source code can be found <a href="http://github.com/joepie91/pdfy2">here</a> (current version) and <a href="http://github.com/joepie91/pdfy">here</a> (old version).

	section
		h3 I have another question that isn't listed here.
		p Feel free to <a href="mailto:pdfy@cryto.net">e-mail us</a>! We'll generally get back to you in under 24 hours.
